<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.cskaoyan.erp"></context:component-scan>
    <mvc:annotation-driven validator="validator"></mvc:annotation-driven>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/production?serverTimezone=Hongkong"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
        <property name="filters" value="stat"></property>
    </bean>
    <!--事务管理-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <!--完成mybatis的mapper注入-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:conf.xml"></property>

        <!-- other configuration -->
              <!--  <property name="plugins">
                    <array>
                        <bean class="com.github.pagehelper.PageInterceptor">
                            <property name="properties">
                                &lt;!&ndash; config params as the following &ndash;&gt;
                                <value>
                                   helperDialect=mysql
                                </value>
                            </property>
                        </bean>
                    </array>
                </property>-->
    </bean>
    <!--<domain class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        <property name=""
    </domain>-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cskaoyan.erp.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
   <!-- <mvc:interceptors >
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <domain class="org.deepsl.hrm.interceptor.AuthorizedInterceptor"></domain>
        </mvc:interceptor>
    </mvc:interceptors>-->
    <!--转换器-->
   <!-- <domain id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <domain class="org.deepsl.hrm.util.convert.ConvertStringToInteger"></domain>
            </set>
        </property>
    </domain>
-->
    <!--校验器-->
    <bean id="validator"
    class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>

    <!--为了解决访问静态资源所配置，restful-->
    <mvc:resources mapping="/**"
                   location="/WEB-INF/" />
    <!--将物理地址变更为访问逻辑地址-->

    <bean id="resourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>
