<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.cskaoyan.erp"></context:component-scan>
    <mvc:annotation-driven validator="validator" conversion-service="conversionService"/>

    <!--校验器-->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>

    <!--druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/production_ssm?serverTimezone=GMT"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="filters" value="stat"/>
    </bean>


    <!--C3P0-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/production_ssm?serverTimezone=GMT"></property>
        <property name="user" value="root"></property>
        <property name="password" value="7697380zydi"></property>
        <property name="maxPoolSize" value="20"></property>
        <property name="minPoolSize" value="10"></property>
        <property name="initialPoolSize" value="5"></property>
    </bean>-->

    <!--事务管理-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <!--完成mybatis的mapper注入-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:conf.xml"></property>
    </bean>
    <!--<domain class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        <property name=""
    </domain>-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cskaoyan.erp.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--配置拦截器-->
    <!--<mvc:interceptors >
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.cskaoyan.erp.interceptor.AuthorizedInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!--转换器-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.cskaoyan.erp.utils.MyDateConverter"></bean>
            </set>
        </property>
    </bean>

    <!--<mvc:default-servlet-handler></mvc:default-servlet-handler>-->

    <mvc:resources mapping="/**" location="/WEB-INF/css,/WEB-INF/image,/WEB-INF/js"/>

    <!--<mvc:resources mapping="" location=""></mvc:resources>-->

    <!--将物理地址变更为访问逻辑地址-->
    <bean id="resourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>
